.sky {
    height: 60%;
    width: 100%;
    background-color: #87ceeb;
}

.sun {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: orange;
    position: relative;
    top: 40px;
    left: 1600px;
    box-shadow: 0px 0px 50px 15px gold;
}

.tree1 {
    width: 400px;
    height: 462px;
    position: absolute;   

}

.tree2 {
    width: 400px;
    height: 462px;
    position: absolute;
    left: 350px;
}

.tree3 {
    width: 400px;
    height: 462px;
    position: absolute;
    left: 700px;
}

.tree4 {
    width: 300px;
    height: 462px;
    position: absolute;
    left: 1050px;
}

.tree5 {
    width: 300px;
    height: 462px;
    position: absolute;
    left: 1400px;
}

.tree6 {
    width: 300px;
    height: 462px;
    position: absolute;
    left: 1750px;
}


.circle {
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    top: 200px;
    left: 50px;
     box-shadow: 0px 0px 20px 1px green;
}

.bark {
    width: 30px;
    height: 180px;
    background-color: brown;
    position: absolute;
    bottom: 0px;
    left: 85px;
}



.road {
    height: 40%;
    width: 100%;
    background-color: black;
}


.carbody {
    position: relative;
}
.cartop {
    height: 80px;
    width: 100px;
    background-color: red;
    border-top-left-radius: 30px;
    border: 3px solid black;
    position: absolute;
    left: 1450px;
    top: 70px;
}
.cartop2 {
    height: 80px;
    width: 100px;
    background-color: red;
    border-top-right-radius: 30px;
    border: 3px solid black;
    position: absolute;
    left: 1550px;
    top: 70px;

}
.carbottom {
    height: 80px;
    width: 300px;
    background-color: red;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: 2px solid black;
    position: absolute;
    top: 150px;
    left: 1400px;

}

.carwheel1 {
    height: 90px;
    width: 90px;
    background-color: black;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    top: 200px;
    left: 1420px;

    box-shadow: 2px 3px 2px 2px grey;
}

.carwheel2 {
    height: 90px;
    width: 90px;
    background-color: black;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    top: 200px;
    left: 1580px;
     box-shadow: 2px 3px 2px 2px grey;
}
.divv {
    position: relative;
    width: 100%;
}
.div1 {
    height: 10px;
    width: 60px;
    background-color: white;
    position: absolute;
    top: 250px;
    left: 0px;

}

.div2 {
    height: 10px;
    width: 60px;
    background-color: white;
    position: absolute;
    top: 250px;
    left: 150px;

}

.div3 {
    height: 10px;
    width: 60px;
    background-color: white;
    position: absolute;
    top: 250px;
    left: 300px;

}

.div7 {
    height: 10px;
    width: 60px;
    background-color: white;
    position: absolute;
    top: 250px;
    left: 450px;

}

.div8 {
    height: 10px;
    width: 60px;
    background-color: white;
    position: absolute;
    top: 250px;
    left: 600px;

}

.div9 {
    height: 10px;
    width: 60px;
    background-color: white;
    position: absolute;
    top: 250px;
    left: 750px;

}

.div10 {
    height: 10px;
    width: 60px;
    background-color: white;
    position: absolute;
    top: 250px;
    left: 900px;

}


.div11 {
    height: 10px;
    width: 60px;
    background-color: white;
    position: absolute;
    top: 250px;
    left: 1050px;

}


.div12 {
    height: 10px;
    width: 60px;
    background-color: white;
    position: absolute;
    top: 250px;
    left: 1200px;

}


.div13 {
    height: 10px;
    width: 60px;
    background-color: white;
    position: absolute;
    top: 250px;
    left: 1350px;

}




.div4 {
    height: 10px;
    width: 60px;
    background-color: white;
    position: absolute;
    top: 250px;
    right: 300px;

}

.div5 {
    height: 10px;
    width: 60px;
    background-color: white;
    position: absolute;
    top: 250px;
    right: 150px;

}

.div6 {
    height: 10px;
    width: 60px;
    background-color: white;
    position: absolute;
    top: 250px;
    right: 0px;

}